@tailwind base;
@tailwind components;
@tailwind utilities;

.timer-animation {
    animation: countdown 10s linear forwards;
    transform-origin: center;
    transform: rotate(0deg);
  }
  
  @keyframes timer-border {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  